/*### Body ###*/

body {
    background-color: $white-middle;
    -webkit-font-smoothing: antialiased;
}

/*### Headers ###*/

h1 {
   @include headers (54);    
}

/*### Paragraph ###*/

p {
    @include p (24); 
}


/*### Grids ###*/

.container {
    @include container; 
}


@media screen and (min-width: 320px) and (max-width: 800px) { 

    .container {
        justify-content: center;
    }

}

