.hero {
    background-image: url('../assets/home-background.svg');
    background-position: top -14% right -17%;
    background-repeat: no-repeat;
    height: 100vh;
    .content {
    width: 67%;
    top: 80px;
    position: relative;
}
}

@media screen and (min-width: 320px) and (max-width: 800px) {
  .hero {
      background-image: none;
  }
  .content {
    width: 100% !important;
    text-align: center;
    h1 {
      @include headers (50);
      top:50%;
    }
    p {
      @include p (23);
    }
  }
}
