// Buttons
.hero {
    a {
    @include btn-link;
    width: 100%;
    max-width: 360px;
    height: 72px;
    border-radius: 8px;
    display: flex;
    color: $white;
    flex: 1;
    border-radius: 8px;
    background-color: $green;
    align-items: center;
    strong {
    flex: 1;
    text-align: center;
    }
    &:hover {
        background-color: $green-middle;
        transition: .6s;
    }
    span {
    width: 72px; 
    height: 72px;
    background-color: rgba(0, 0, 0, 0.08);
    justify-content: center;
    align-items: center; 
    display: flex;
    &::after{
        content: " ";
        height: 20px;
        width: 20px;
        background-image: url("../assets/search.svg");
         justify-content: center;
        align-items: center; 
        display: flex;
    }
    }
    }
}